*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
   
  }

section{
   
   width: 100%;
   height: 100vh;
   background-color: aliceblue;
   
  
}

.child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 90%;
    width: 100%;

   
    

}

#textwrap{
    
    text-align: start;

    
}

#formwrap{
    height: 65%;
    width:75%;
    margin-right: 50px;
    background-color: white;
}


#formwrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 90%;
    border-radius: 10px;
    padding: 10px;
}

#inputsignin{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border-style:groove;
    border-width: 2px;
    border-color: rgb(61, 99, 249) ;
    background-color: white;
    margin: 5px;

}

#login{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(61, 99, 248);
    color: white;
    font-size: large;
    font-weight: bolder;
    margin: 5px;
}

a{

    background-color: white;
    color: rgb(61, 99, 248);
    text-decoration: none;
    margin-left: 135px;

}

#cna{

    height: 50px;
    width: 190px;
    border-radius: 5px;
    border: 2px;
    color: white;
    background-color: rgb(15, 194, 15);
    font-size: large;
    font-weight: bolder;
    margin: 15px;
    margin-left: 100px;
}

#fb{
    font-size: 60px;
    color:rgb(61, 99, 248);
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 80px;
    
}

h2{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 70px;
}

.backGroundBlur{
    filter: blur(1.5px);
    background-color: rgba(255, 255, 255, 0.1);
    
}


